[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasa-sdk = "*"
packaging = "==20.9"
tensorflow = "<2.12"
keras = "<3"
websockets = "<11"
numpy = "<1.24"
protobuf = "==3.20.0"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
